#nav {
    z-index: 2;
    position: fixed;
    height: 100%;
}

.nav {
    width: 65vw;
    height: 100%;
    background: whitesmoke;
    text-align: left;
    transition: all 1s ease-in-out;
    float: left;
}

.nav.collapsed {
    transform: translateX(-65vw);
}

.navbutton {
    text-align: left;
    transition: all 1s ease-in-out;
    transform: translateX(65vw);
}

.navbutton img:nth-child(1) {
    display: none;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.navbutton img:nth-child(2) {
    display: block;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.navbutton.collapsed {
    transform: translateX(0);
}

.navbutton.collapsed img:nth-child(1) {
    opacity: 1;
    display: block;
}

.navbutton.collapsed img:nth-child(2) {
    opacity: 0;
    display: none;
}